body {
    background-image: url('https://images.pexels.com/photos/7932264/pexels-photo-7932264.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    font-family: "Gill Sans", sans-serif;
}

h1 {
    font-size: 50px;
}

label, input, button{
    border-radius: 25px;
    font-size: 20px;
    margin: 5px;
    padding: 1%;
    font-weight: bold;
}

input {
    width: 20%; 
}

form {
    border: solid 5px darkgray;
    display: grid;
    justify-items: center;
}

